*.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  border: none;
  border-color: transparent;
  outline: none;
}

*.ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
  background: linear-gradient(to bottom right, #C9C9C94D, #C4C4C41A) padding-box,
    linear-gradient(to bottom left, #FFFFFF4D, #D3D3D31A) border-box;
  border: none;
}

*,
*:focus,
*:hover,
*:active,
*:focus-within,
*:focus-visible {
  box-shadow: none;
  outline: none !important;
  transition: all 0.2s ease;
}

.ant-btn:active,
.ant-btn:focus {
  box-shadow: none;
}

.input-bar__background {
  width: 100%;
  display: flex;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 100%;
  gap: 20px;
  align-items: center;
}

.emoji-button {
  background: transparent;
  border: none;
  box-shadow: none;
  height: 100%;
  transition: transform 0.2s ease;
}

.emoji-button:hover {
  transform: scale(1.1);
}

.emoji-button.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  background: transparent;
}

.emoji-button:disabled {
  cursor: not-allowed !important;
}

.input-bar__container {
  align-items: center;
  display: flex;
  width: 100%;
  height: 40px;
}

.input-bar {
  background: linear-gradient(to right, var(--neutral-700) 0%, var(--neutral-900));
  border: 1px solid var(--neutral-600) !important;
  border-right: none;
  color: #FFFFFF;
  font-size: 17px;
  height: 100%;
  max-height: 3rem;
  padding: 8px 1rem;
  width: 100%;
}

.ant-input-outlined:focus, .ant-input-outlined:hover {
  box-shadow: none;
  background-color: #17212B;
}

.input-bar::placeholder {
  color: #FFFFFF80;
}

.input-bar .ant-input {
  margin-left: 0.5rem;
}

.attach-button {
  background: transparent;
  border: none;
  box-shadow: none;
}

.attach-button.ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover {
  background: transparent;
}

.attach-button svg {
  color: #E1E1E1;
  transition: transform 0.2s ease;
}

.attach-button svg:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}

.send-button:disabled {
  background: var(--neutral-800) !important;
}

.send-button.ant-btn-lg.ant-btn-icon-only {
  background: var(--neutral-700);
  transition: .2s;
  border: 1px solid var(--neutral-600) !important;
  border-left: none;
  height: 100%;
  max-height: 3rem;
  width: 6rem;
  max-width: 10vw;
}

.send-button.ant-btn-lg.ant-btn-icon-only:hover:not(:disabled) {
  background: var(--neutral-600) !important;
}

.send-button svg {
  color: #E1E1E1;
  transition: transform 0.2s ease;
}

.send-button:not(:disabled) svg:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}