*.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  border: none;
  border-color: transparent;
  outline: none;
}
*.ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
  background: linear-gradient(to bottom right, #C9C9C94D, #C4C4C41A) padding-box, 
  linear-gradient(to bottom left, #FFFFFF4D, #D3D3D31A) border-box;
  border: none;
}

*, *:focus, *:hover, *:active, *:focus-within, *:focus-visible {
  box-shadow: none;
  outline: none !important;
  transition: all 0.2s ease;
}

.ant-btn:active, .ant-btn:focus {
  box-shadow: none;
}

.input-bar__background {
  background: #17212B;
  display: flex;
  padding: 0 1rem;
  box-sizing: border-box;
  height: 100%;
  gap: 20px;
  align-items: center;
}

.emoji-button {
  background: transparent;
  border: none;
  box-shadow: none;
  height: 100%;
  transition: transform 0.2s ease;
}

.emoji-button:hover {
  transform: scale(1.1);
}

.emoji-button.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  background: transparent;
}

.emoji-button:disabled {
  cursor: not-allowed !important;
}

.input-bar__container {
  align-items: center;
  display: flex;
  width: 100%;
  height: 40px;
}

.input-bar {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.268) 0%, rgba(0,0,0,0) 100%);
  border: 2px solid #454c56;
  border-right: none;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 17px;
  height: 100%;
  max-height: 3rem;
  padding: 0 1rem;
  width: 100%;
  padding-bottom: 5px;
}

.input-bar::placeholder {
  color: #FFFFFF80;
}

.input-bar:hover, .input-bar:focus, .input-bar:focus-within, .input-bar:disabled {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.268) 0%, rgba(0,0,0,0) 100%);
  border: 2px solid #454c56;
  border-right: none;
  box-shadow: none;
  outline: none;
}

.input-bar .ant-input {
  margin-left: 0.5rem;
}

.attach-button {
  background: transparent;
  border: none;
  box-shadow: none;
}

.attach-button.ant-btn-text:not(:disabled):not(.ant-btn-disabled):hover {
  background: transparent;
}

.attach-button svg {
  color: #E1E1E1;
  transition: transform 0.2s ease;
}

.attach-button svg:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}

.send-button.ant-btn-lg.ant-btn-icon-only {
  background: #454c56;
  transition: .2s;
  border: 2px solid #454c56;
  border-left: none;
  height: 100%;
  max-height: 3rem;
  width: 6rem;
  max-width: 10vw;

}

.send-button.ant-btn-lg.ant-btn-icon-only:hover {
  background: #a7adb79b;
}

.send-button svg {
  color: #E1E1E1;
  transition: transform 0.2s ease;
}

.send-button svg:hover {
  color: #FFFFFF;
  transform: scale(1.1);
}