.new-group-form-label label {
  color: #fff !important;
  font-family: 'Roboto', sans-serif;
  padding-top: 1rem;
}

.new-group-form-label textarea {
  color: #fff !important;
  font-family: 'Roboto', sans-serif;
  min-height: 9rem !important;
  height: min-content;
  padding: 0.25rem 0.5rem;
  resize: none;
}

.new-group-form-field::placeholder,
.new-group-form-field input::placeholder,
.new-group-form-field textarea::placeholder {
  color: #ffffff92 !important;
  font-weight: 400 !important;
  font-family: 'Roboto', sans-serif;
}

:where(.upload).ant-form-item .ant-form-item-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit {
  background-color: #39FF14 !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px !important;
  color: black !important;
  border: none !important;
}

.submit:hover {
  background-color: #88ff74 !important;
}
