.login_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background-image: url("../../assets/background.webp");
  background-size: cover;
  padding: 0 15px;

}



.login_logo {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  max-width: 380px;

}

.login_logo img {
  width: 100%;
  object-fit: contain;
}

