.chat__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #17212B;
  width: 65px;
  /* background: linear-gradient(to bottom, #00000040, #C4C4C41A) !important; */
  height: 100%;
  padding: 1.5rem 0 1.5rem;
  border-right: .5px solid rgba(255, 255, 255, 0.1);
  /* animation: to-emerge 1s; */
}

.chat__sidebar button:not(.chat__userAvatar) {
  padding: 4px !important;
  border: 1px solid
}

.chat__sidebar button svg {
  height: 24px;
  width: 24px;
}

.chat__usersChatContainer {
  animation: to-emerge .5s;
  height: 100%;
  max-height: 70%;
  overflow-y: auto;
  scrollbar-gutter: stable;
  width: 100%;
  background-color: transparent !important;
}
@keyframes to-emerge {
  from {
    transform: translateX(-80px);
  } to {
    transform: translateX(0);
  }
}

.chat__usersChatContainer::after {
  height: 1px;
  width: 100%;
  background: var(--neutral-600) !important;
  margin: 1rem 0;
}

.chat__userAvatar {
  background: transparent;
  border: none;
  padding: 0;
  height: 50px !important;
}

.chat__avatar {
  background: var(--neutral-100);
  height: 50px;
  width: 50px;
}