.ant-modal-content {
  background: transparent !important;
}
.ant-modal-footer {
  display: none !important;
}

.new-group-form-modal .ant-modal-confirm-title, .new-group-form-modal .ant-modal-confirm-content {
  color: transparent;
}

.new-group-form-modal svg {
  color: #B49E35;
}

.ant-modal-confirm-title {
  font-family: 'Roboto', sans-serif;
}

.new-group-form-modal .ant-btn-primary {
  background-color: #39FF14;
  color: black;
  border: none;
  font-family: 'Roboto', sans-serif;
}

.new-group-form-modal .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #88ff74;
  border: none;
}

.new-group-form-modal .ant-btn-default {
  border: none;
  font-family: 'Roboto', sans-serif;
}

.ant-form-item .ant-form-item-explain-error {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem !important;
  padding-top: 0.25rem;
}

.new-group-form-modal .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  border: none;
}
.find-input-bar::placeholder {
  color: #FFFFFF80 !important;
}
.userCardStyle{
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color 0.3s ease;
  padding: 10px 14px;
  border-radius: 14px;
  justify-content: space-between;
}
.userCardStyle:hover {
  background-color: #576573;
}
.newChatButtonStyle:hover{
  background-color: #32323d !important;
}
.remModalButton:hover {
  background-color: #576573 !important;
}
.addModalButton:hover {
  background-color: #576573 !important;
  color: #15ff00 !important ;
}