.new-group-form-modal .ant-modal-content {
  background: #1E2C39;
}

.new-group-form-modal .ant-modal-confirm-title, .new-group-form-modal .ant-modal-confirm-content {
  color: #FFFFFF;
}

.new-group-form-modal svg {
  color: #B49E35;
}

.new-group-form-modal .ant-btn-primary {
  background-color: #39FF14;
  color: black;
  border: none;
}

.new-group-form-modal .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  background-color: #88ff74;
  border: none;
}

.new-group-form-modal .ant-btn-default {
  border: none
}

.new-group-form-modal .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  border: none
}