.chat__drawer {
    position: absolute;
    z-index: 1 !important;
    isolation: isolate;
    background: #1E2C39 !important;
    border-radius: 0 8px 8px 0;
    inset-inline: 64px;
    left: 64px;
    min-width: 112px;
    max-width: 320px;
}

.chat__drawerContainer {
    color: #FFFFFF;
    height: 100%;
    padding: 1rem 2rem;
}

.chat__drawerTitle {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--secundary-font);
}

.chat__drawerAction {
    color: var(--neutral-100);
    cursor: pointer;
    padding: 8px;
    background: transparent !important;
    border: none !important;
}

.chat__drawerDivider {
    background: var(--neutral-50) !important;
    height: 1rem;
    margin: 0;
}