.aside {
    position: fixed;
    left: 0px;
    transition: left 0.3s ease;
    scale: 0.5s;
}

.aside.open {   
    left: -380px;
    transition: left 0.3s ease;
}
.aside.close {   
    left: -0px;
    transition: left 0.3s ease;
}