.auth__title {
  font-size: 32px;
  margin: 0 0 4px;
  line-height: 1;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 1px;
}

.auth__description {
  font-size: 1rem;
  color: var(--neutral-50);
}

.label label {
  color: #fff !important;
  font-size: 15px !important;
  font-weight: 700;
}

.label__col {
  padding: 0 !important;
}

.input {
  background: var(--neutral-50, rgb(241, 241, 241));
  background: linear-gradient(90deg, #c1c6cd30 0%, #c1c6cd10 101%) !important;
  color: #fff;
  padding: 12px;
  border: none !important;
}

.input::placeholder,
.input input::placeholder,
.input svg {
  color: var(--neutral-50) !important;
}

.submit {
  background-color: var(--pure-primary);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
  color: var(--shadow-primary-700);
  border: none;
  margin-top: 8px;
}

.submit:hover {
  background-color: var(--t-primary-10) !important;
  color: inherit !important;
}

.auth__login_thirty_party {
  display: block;
  border: 0;
  padding: 8px 12px;
  border-radius: 8px;
  color: var(--neutral-500);
  transition: color, box-shadow, background 100ms ease-in !important;
  transition-delay: 0ms !important;
}

.auth__login_thirty_party:hover,
.auth__login_thirty_party:active {
  color: var(--pure-secondary) !important;
  background: var(--neutral-0) !important;
}

.auth__login_thirty_party_label {
  font-size: 14px;
  position: relative;
}

.auth__login_thirty_party_label::before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: calc(100% + 32px);
  transform: translateX(-16px);
  height: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.auth__forgot_password {
  display: block;
  text-align: right;
  color: var(--pure-primary) !important;
  font-size: 14px;
  padding: 4px 0;
}

.auth__forgot_password:hover {
  color: var(--t-primary-20) !important;
}

.auth__secundary_action {
  font-size: 14px;
  margin: 8px 0;
}

.auth__link {
  font-weight: 500;
  padding: 8px 0;
}

.auth__link,
.auth__forgot_password {
  transition: color 100ms ease-in;
}

@media (prefers-color-scheme: dark) {
  .submit {
    background: var(--t-primary-10)
  }

  .submit:hover {
    background: var(--t-primary-20)
  }

  .input {
    background: linear-gradient(90deg, #474E5740 0%, #474E5710 101%) !important;
  }

  .auth__forgot_password {
    color: var(--t-primary-10) !important
  }

  .auth__login_thirty_party {
    color: var(--neutral-100);
    background: var(--neutral-700);
    box-shadow: 0 0 0 1px var(--neutral-600) !important;
  }

  .auth__login_thirty_party:hover {
    background: var(--neutral-800) !important;
    box-shadow: 0 0 0 1px var(--neutral-500) !important;
  }
}