.auth_container {
  width: 100%;
  max-width: 480px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  min-height: 520px;
  backdrop-filter: blur(10px);
  background: rgb(0, 0, 0);
  background: linear-gradient(150deg, rgba(0, 0, 0, 0.13) 0%, rgba(249, 249, 249, 0.146) 100%);
  border-radius: 10px;
  margin-bottom: 100px;
  box-sizing: border-box;
}